@import "../public/assets/scss/font-awesome.scss";
@import "../public/assets/scss/slick.scss";
@import "../public/assets/scss/slick-theme.scss";
@import "../public/assets/scss/themify.scss";
@import "bootstrap/dist/css/bootstrap.min.css";
@import "@egjs/view360/sass/view360.sass";
@import 'photoswipe/dist/photoswipe.css';
@import "../public/assets/scss/color1.scss";
